.card {
  width: 25rem !important;
  border-radius: 24px !important;
  font-family: "Nunito Sans", sans-serif;
}

.card-title {
  font-weight: 600;
}

.card-body {
  display: flex;
  justify-content: space-between;
}

.card-description {
  width: 70%;
}

.card-text {
  font-size: 14px;
}

.price {
  font-weight: 600;
}

.card-img-top {
  border-radius: 24px !important;
  height: 237px;
  border: white 8px solid;
  background-size: cover;
  background-repeat: no-repeat;
}
